SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PACKAGE_VENUES_BUCKET=package-venues
PAYMONGO_SECRET_KEY=sk_test_your_key_here
BREVO_API_KEY=
BREVO_SENDER_NAME=
BREVO_SENDER_EMAIL=
NOTIFICATION_CRON_SECRET=
RESERVATION_CRON_SECRET=

